.slider2 {/*横幅94%で左右に余白を持たせて中央寄せ*/
  width: 90%;
  margin: 0;
  padding: 0;
}

.slider2 img {
  width:100%;/*スライダー内の画像を横幅100%に*/
  height: auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider2 .slick-slide {
  margin:0 10px;
}

/*ドットナビゲーションの設定*/

.slider2 .slick-dots {
  text-align:center;
  margin:20px 0 0 0;
}

.slider2 .slick-dots li {
   display:inline-block;
 margin:0 5px;
}

.slider2 .slick-dots button {
   color: transparent;
   outline: none;
   width:8px;/*ドットボタンのサイズ*/
   height:12px;/*ドットボタンのサイズ*/
   display:block;
   border-radius:50%;
   background:#ccc;/*ドットボタンの色*/
}

.slider2 .slick-dots .slick-active button{
  background:#333;/*ドットボタンの現在地表示の色*/
}
