<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - mf7cli-Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="/style/main.css"/>
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <script>
      window.onload = () => {
        twemoji.parse(document.body);
      }
    </script>
    <script src="/js/news.js"></script>
  </head>
  <body>
    <header>
      <h2>mf7cli-Web</h2>
    </header>
    <div>
      <nav class="mainNav">
        <a href="/">
          <div>
            Home
          </div>
        </a>
        <a href="https://bbs.mf7cli.potp.me">
          <div>
            BBS
          </div>
        </a>
        <a href="/store">
          <div>
            Store
          </div>
        </a>
      </nav>
      <main>
        <article>
          <a href="/">Home</a>
          <br/>
          <%- content %>
        </article>
        <aside>
          <article>
            ページ検索
            <div class="searchBox">
              <input type="text" placeholder="検索するキーワードを入力してください"/>
              <a href="">🔍</a>
            </div>
          </article>
          <article>
            新着ページ
            <br/>
            <ul class="latestNewsColumn" style="list-style: none; padding: 0; margin: 0;">
            </ul>
          </article>
          <hr/>
          <small>&copy; mf7cli 2022</small>
        </aside>
      </main>
    </div>
  </body>
</html>