@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

body {
  background: #ffffff;
  font-family: 'Noto Sans JP', sans-serif;
}

header {
  position: fixed;
  width: 100%;
  background: #ffffff;
}

header h2 {
  margin: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

body > div {
  padding-top: 4em;
}

.mainNav {
  text-align: center;
  margin: auto;
  margin-top: 0.5em;
  width: 70%;
}

.mainNav a {
  background: none!important;
  background-clip: border-box!important;
  -webkit-background-clip: border-box!important;
  -webkit-text-fill-color: currentcolor!important;
  border: none;
  text-decoration: none;
}

.mainNav a:hover {
  border: none;
}

.mainNav a:active {
  border: none;
}

.mainNav div {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  color: #ffffff;
  background: linear-gradient(90deg, #A2B3F0, #A2CFF0);
  width: calc(70% / 3);
  display: inline-block;
  box-shadow: #0000002b 0px 4px 40px 0px;
}

main {
  display: flex;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 1em;
}

main > article {
  width: 80%;
}

main > aside {
  width: 20%;
  position: fixed;
  right: 5em;
  background: #ffffff;
  box-shadow: #00000010 0px 4px 40px 0px;
  padding: 1em;
  height: calc(100% - 20em);
}

main a {
  text-decoration: none;
  background: linear-gradient(90deg, #A2B3F0, #A2CFF0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: solid #A2B3F000;
  transition: all 1s;
}

main a:hover {
  border-bottom: solid #A2B3F0;
}

main a:active {
  border-bottom: solid #A2CFF0 5px;
}

.searchBox {
  box-shadow: #00000031 0px 4px 40px 0px;
  border-radius: 40px;
}

.searchBox a {
  background: none!important;
  background-clip: border-box!important;
  -webkit-background-clip: border-box!important;
  -webkit-text-fill-color: currentcolor!important;
  border: none;
}

.searchBox a:hover {
  border: none;
}

.searchBox a:active {
  border: none;
}

.searchBox input[type="text"] {
  border: none;
  background: none;
  outline: none;
  width: calc(100% - 3em);
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.mainNewsColumn {
  text-align: center;
  font-size: small;
}

.mainNewsColumn a {
  text-decoration: none;
  background: linear-gradient(90deg, #A2B3F0, #A2CFF0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: solid #A2B3F000;
  transition: all 1s;
}

.mainNewsColumn a:hover {
  border-bottom: solid #A2B3F0;
}

.mainNewsColumn a:active {
  border-bottom: solid #A2CFF0 5px;
}

aside > article {
  margin-bottom: 1em;
}

::-moz-selection {
  background: #A2B3F0;
  color: #ffffff;
}

::selection {
  background: #A2B3F0;
  color: #ffffff;
}