@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); */

body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #393939;
  background: #f6f3ec;
}

/* .container {
} */

.container {
  margin: 0;
  padding: 1.5em;
  font-size: 1rem;
}

.container.center > div {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1rem;
}

@media screen and (max-width: 959px) {
  .container > div {
    font-size: 1.5rem!important;
  }
}

@media screen and (max-width: 480px) {
  .container > div {
    font-size: 1.2rem!important;
  }
}

a {
  color: #6060ff;
}

.status-all-system::before {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  background: #949494;
  content: "";
  margin-right: 0.5em;
  border-radius: 50%;
}

.status-all-system.operational::before {
  background: #70ffa0;
}

.status-all-system.major-outage::before {
  background: #ff8170;
}

.status-all-system.patial-outage::before {
  background: #ffea4d;
}

.down-systems > li {
  list-style: none;
}
.down-systems > li::before {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  background: #949494;
  content: "";
  margin-right: 0.5em;
  border-radius: 50%;
}

.down-systems > li.major-outage::before {
  background: #ff8170;
}

.down-systems > li.no-response::before {
  background: #212121;
}

hr {
  border: none;
  border-top: 2px dashed blue;
  border-color: #6d6d6d;
}

p {
  padding: 0.5em;
  margin: 0.5em;
}

.mofu {
  position:fixed;
  right:50px;
  bottom:50px;
  background: #17130f;
}